# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
*.env
local_settings.py
media/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Visual Studio Code
.vscode/
.history/

# PyCharm
.idea/
*.iml

# Test Coverage
.coverage
*.cover
*.py,cover
.coverage.*

# Mypy
.mypy_cache/

# Pylint
.pylint.d/

# Build
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log
*.out
*.err

# Static files
staticfiles/
static/
node_modules/

# Cache
*.cache
.cache/
staticfiles/
