{% extends 'base.html' %} {% block title %}Daily Input - Smart Therapist{% endblock %}
<!-- block content -->
{% block content %}
<div
    class="max-w-md mx-auto bg-gradient-to-b from-blue-50 to-blue-100 rounded-xl shadow-md overflow-hidden"
>
    <div class="p-8">
        <h2 class="text-2xl font-semibold text-blue-600 mb-4 flex items-center">
            <i data-feather="edit" class="mr-2"></i> How was your day?
        </h2>
        <form method="post" class="space-y-4">
            {% csrf_token %} {{ form.text }} {% if form.text.errors %}
            <div class="text-red-500 text-sm">{{ form.text.errors }}</div>
            {% endif %}
            <button
                type="submit"
                class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-lg shadow-lg transform transition hover:scale-105"
            >
                Submit
            </button>
        </form>
    </div>
</div>
{% endblock %}

